.dark-map {
    width: 100%;
    min-height: 100vh;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: black;
}
.dark-unselected-point {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    opacity: 0.05;
    width: 15px;
    height: 15px;
    border-radius: 100px;
    margin: 30px;
    cursor: pointer;
    box-shadow: 0px 0px 15px 8px rgba(98, 176, 255, 0);
}
.dark-unselected-point:hover {
    opacity: 0.2;
}
.dark-selected-point {
    @extend .dark-unselected-point;
    opacity: 1;
    width: 10px;
    height: 10px;
    background-color: white;
    box-shadow: 0px 0px 15px 8px rgba(98, 176, 255, 0.768);
}
.dark-modal {
    position: fixed;
    width: 100%;
    height: 100%;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.305);
}
.dark-modal-window {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 500px;
    height: 300px;
    background-color: white;
    padding: 10px;
}
.dark-modal-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}
.dark-modal-header {
    width: 100%;
    display: flex;
    justify-content: right;
}
.dark-close-btn {
    cursor: pointer;
}
.dark-none {
    display: none;
}
.dark-map-point {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}